body {
  background: url("https://i.redd.it/izptoyn7i4uz.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Syncopate", sans-serif;
  text-transform: capitalize;
  color: white;
}

#canvas {
  background-color: white;
  border: 1px solid black;
  width: 450px;
  float: right;
  padding: 20px;
  align-items: center;
}

.row {
  display: flex;
}

.box {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: flex;
}

#colorPicker {
  display: flex;
  flex-direction: column;
  float: right;
  background-color: white;
  border: 1px solid black;
  margin-right: 5px;
}

.colorRow {
  display: flex;
  flex-direction: row;
}

.colorBox {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

button {
  font-family: "Syncopate", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  color: white;
  background-color: #780854;
}
