body {
  background: url("https://i.redd.it/izptoyn7i4uz.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Press Start 2P", cursive;
}

h1 {
  color: white;
}

#canvas {
  background-color: white;
  border: 1px solid blue;
  width: 500px;
  float: right;
  /* margin: 20px; */
  padding: 20px;
  align-content: center;
}

.row {
  display: flex;
}

.box {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  display: flex;
}

#colorPicker {
  display: flex;
  flex-direction: column;
}

.colorRow {
  display: flex;
  flex-direction: row;
}

.colorBox {
  border: 1px solid black;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
}

#clear {
}
